/* import font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "cupcake";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.002 247.839);
  --color-base-200: oklch(96% 0.003 264.542);
  --color-base-300: oklch(92% 0.006 264.531);
  --color-base-content: oklch(21% 0.034 264.665);
  --color-primary: #12416D;
  --color-primary-content: oklch(98% 0.031 120.757);
  --color-secondary: #FB8C1E;
  --color-secondary-content: oklch(97% 0.014 254.604);
  --color-accent: oklch(59% 0.293 322.896);
  --color-accent-content: oklch(97% 0.017 320.058);
  --color-neutral: oklch(27% 0.033 256.848);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(70% 0.165 254.624);
  --color-info-content: oklch(28% 0.091 267.935);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(26% 0.051 172.552);
  --color-warning: oklch(75% 0.183 55.934);
  --color-warning-content: oklch(26% 0.079 36.259);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 1rem;
  --radius-field: 2rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 1;
  --noise: 0;
}


@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@theme {

  /*Start på farver defintioner*/

  /* Neutral */
  --color-neutral-50: #f3f2f2;
  --color-neutral-100: #DAD8D8;
  --color-neutral-200: #C1BDBD;
  --color-neutral-300: #A9A3A3;
  --color-neutral-400: #908989;
  --color-neutral-500: #766F6F;
  --color-neutral-600: #5C5656;
  --color-neutral-700: #423E3E;
  --color-neutral-800: #272525;
  --color-neutral-900: #0D0C0C;


  /* Blue */
   --color-blue-50: #E9F3FB;
  --color-blue-100: #BEDAF4;
  --color-blue-200: #92C1ED;
  --color-blue-300: #66A8E5;
  --color-blue-400: #3B8FDE;
  --color-blue-500: #2175C4;
  --color-blue-600: #1A5B99;
  --color-blue-700: #12416D;
  --color-blue-800: #0B2741;
  --color-blue-900: #040D16;

  /* Orange*/
  --color-orange-50: #FFF2E6;
  --color-orange-100: #FED9B4;
  --color-orange-200: #FDBF82;
  --color-orange-300: #FCA650;
  --color-orange-400: #FB8C1E;
  --color-orange-500: #E17304;
  --color-orange-600: #AF5903;
  --color-orange-700: #7D4002;
  --color-orange-800: #4B2601;
  --color-orange-900: #190D00;

  /* daisyUI */
  --color-primary: #12416D;
  --color-secondary: #E17304;

  /*Slut på farver defintioner*/
 

  /*Typografi */
  --font-display: "Sansation", sans-serif;
  --font-sans: "Open Sans", sans-serif;


/* Animationer */

 --animate-button: button 1s ease-in-out ;  
 
 @keyframes button {    
  0%,    100% {      
    transform: translateX(50%);  
    animation-timing-function: cubic-bezier(.75,0,.25,1); 
  }    
}

--animate-movedown: movedown 5s linear infinite;  

 @keyframes movedown {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(50%);
  }
  }

--animate-moveup: moveup 5s linear infinite;  

 @keyframes moveup {
  0% {
    transform: translateY(61%);
  }
  100% {
    transform: translateY(0%);
  }
  }


}



@layer base {

}

@layer components{

}

@layer utilities{
  
  }