/* import font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@theme {

  /*Farver */
  --color-primary-400: #00E4F5;
  --color-primary-500: #006269;
  --color-primary-600: #006D75;
  --color-secondary-400: #F5E400;
  --color-secondary-500: #F5A600;
  --color-secondary-600: #F57A00;

  /*Typografi */
  --font-display: "Sansation", sans-serif;
  --font-sans: "Open Sans", sans-serif;
}

@layer base {

}

@layer components{

}

@layer utilities{
  
}