---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import Accordion from "../components/Accordion.astro";
---

<MainLayout title="Ansøgning">
  <main class="container mx-auto">
    <!-- TOPPEN MED LINKS TIL ORGANISATIONERNE -->
    <section class="mb-10 mt-35">
      <div class="mb-10 grid md:grid-cols-2 gap-8 items-center justify-center max-w-7xl mx-auto">
        <div>
          <div class="mb-5">
            <div class="mb-5">
              <Heading htmlheading="h2" size="large" font="display">Et pusterum for hele familien <br /> – fyldt med hygge, aktiviteter og trygge ramme</Heading>
            </div>
            <Text font="body" type="regular">Kom med på en sommerlejr skabt til veteranfamilier – med plads til både ro, nærvær og gode oplevelser</Text>
          </div>
          <div class="mb-5">
            <Button color="blue" size="medium" blink="#">Soldatermission</Button>
            <Button color="blue" size="medium" blink="#">Veteran Oasen</Button>
          </div>
          <div class="relative flex">
            <span class="flex items-center">
              <Text font="body" type="bold">4.2</Text>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-orange-400 ml-1" viewBox="0 0 20 20" fill="currentColor"
                ><path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 3.967a1 1 0 00.95.69h4.175c.969 0 1.371 1.24.588 1.81l-3.38 2.455a1 1 0 00-.364 1.118l1.287 3.966c.3.922-.755 1.688-1.54 1.118l-3.38-2.454a1 1 0 00-1.175 0l-3.38 2.454c-.784.57-1.838-.196-1.54-1.118l1.287-3.966a1 1 0 00-.364-1.118L2.05 9.394c-.783-.57-.38-1.81.588-1.81h4.175a1 1 0 00.95-.69l1.286-3.967z"
                ></path></svg
              >
            </span>
            <div class="w-px h-6 bg-gray-300 mx-2"></div>
            <Text font="body" type="bold">125 anmeldelser</Text>
            <div class="w-px h-6 bg-gray-300 mx-2"></div>
          </div>
        </div>
        <div class="relative w-full flex justify-center">
          <div class="relative w-[450px] md:w-[700px] h-auto">
            <img src="/imggggg/blobinator.svg" alt="bg-blobinator" class="w-full h-auto md:w-[700px]" />
            <img src="/imggggg/legolego.webp" alt="Image 1" class="absolute top-3 md:top-0 left-[15%] w-40 h-40 md:w-56 md:h-56 rounded-lg object-cover" />
            <img src="/imggggg/beepboop.webp" alt="Image 2" class="absolute top-20 right-[10%] md:right-[9%] w-40 h-40 md:w-56 md:h-56 rounded-lg object-cover" />
            <img src="/imggggg/beepboop.webp" alt="Image 3" class="absolute bottom-2 md:bottom-5 left-[15%] w-40 h-40 md:w-56 md:h-56 rounded-lg object-cover" />
          </div>
        </div>
      </div>
    </section>

    <!-- MIDTEN MED INFO OM ANSØGNING -->

    <section class="bg-blue-700 text-white text-center mb-20">
      <div class="container mx-auto p-8">
        <Heading htmlheading="h2" size="large" font="display">Klar til at ansøge?</Heading>
        <Heading htmlheading="h3" size="medium" font="display">Når du tilmelder dig, skal du oplyse:</Heading>
      </div>
      <div class="md:flex md:mb-20">
        <div class="container mx-auto p-8">
          <img src="/imggggg/blobinator.svg" alt="bg-blobinator" class="w-32 h-auto mx-auto mb-6" />
          <Text>Antal deltagere (med alder)</Text>
        </div>
        <div class="container mx-auto p-8">
          <img src="/imggggg/blobinator.svg" alt="bg-blobinator" class="w-32 h-auto mx-auto mb-6" />
          <Text>En kort tekst om, hvorfor jeres familie ønsker at deltage </Text>
        </div>
        <div class="container mx-auto p-8">
          <img src="/imggggg/blobinator.svg" alt="bg-blobinator" class="w-32 h-auto mx-auto mb-6" />
          <Text>Behov for afhentning ved Aalborg banegård</Text>
        </div>

        <div class="container mx-auto p-8">
          <img src="/imggggg/blobinator.svg" alt="bg-blobinator" class="w-32 h-auto mx-auto mb-6" />
          <Text>Eventuelle særlige hensyn (høretelfoner, særlige behov, allergener, servicehund mm.)</Text>
        </div>
      </div>
        <div class="pb-10">
          <Button  color="orange" size="large" blink="/stepone">Ansøg nu</Button>
        </div>
    </section>

    <section class="grid md:grid-cols-2">
      <div class="mt-7">
        <Heading htmlheading="h2" size="medium" font="display" type="bold">Ofte stillede spørgsmål</Heading>
        <div class="my-5">
          <Text>Hvis der er nogle yderligere spørgsmål du har, så kan du kontakte <br class="hidden md:block" /> os hos:</Text>
        </div>
        <Text type="bold">+45 22 35 45 64</Text>
        <div class="hidden md:block">
          <img src="/imggggg/2blobs.svg" alt="2 blobs" class="w-120 h-auto mb-6" />
        </div>
      </div>

      <Accordion />
    </section>
  </main>
</MainLayout>

<script>
  /* Import af Motion One bibliotek */
  import { animate, stagger, inView, scroll } from "motion";
</script>
