---
import SingleAccordion from "./SingleAccordion.astro";
---

<div class="w-full mx-auto my-4">
  <SingleAccordion title="Hvem kan deltage i sommerlejren?" content="Sommerlejren er for veteraner, deres partner og eventuelle børn. Du behøver ikke at være tilknyttet en bestemt organisation – alle veteraner er velkomne." />
  <SingleAccordion title="Koster det noget at deltage?" content="Nej. Sommerlejren er gratis, og både overnatning, aktiviteter og måltider er inkluderet. Det eneste du skal sørge for er transporten." />
  <SingleAccordion title="Hvordan tilmelder jeg mig?" content="Tilmeldingen foregår via vores online formular. Når du har udfyldt den, modtager du en bekræftelse og yderligere information." />
  <SingleAccordion title="Kan jeg komme alene uden familie?" content="Ja. Nogle veteraner deltager alene, og der er plads til både fællesskab og ro, afhængigt af hvad du har brug for. Det er en vurderingssag ud fra ansøgningerne hvem der bliver prioriteret, men alle er velkomne alene eller sammen." />
  <SingleAccordion title="Er der særlige hensyn ift. PTSD eller andre udfordringer?" content="Ja. Vi forsøger altid at skabe trygge rammer med mulighed for pauser, rolige områder og fleksible aktiviteter. Man har mulighed for at trække sig på værelset eller evt. få mad ned på værelset hvis man har behov for dette. Vi sørger for aktiviteter for børn så forældre også kan med ro i sindet sende børnene afsted til hygge og aktiviter i trygge rammer og få en velfortjent pause eller pusterum. Du er velkommen til at kontakte os på mail, hvis du har særlige behov." />
  <SingleAccordion title="Hvordan foregår overnatningen?" content="Du får tildelt et værelse/rum (afhængigt af årets lokation). Vi prioriterer ro og privatliv, og familier bor som regel samlet, dog er er mulighed for at veteraner får eget værelse efter behov." />
  <SingleAccordion title="Hvordan er dagene planlagt?" content="Der er en planlagt dagsstruktur med aktiviteter, men alt er frivilligt. Du deltager selvfølgeligkun i det, der føles rigtigt for dig." />
  <SingleAccordion title="Kan jeg forlade lejren?" content="Selvfølgelig. Du kan altid trække dig tilbage eller tage en pause. Frivillige står klar til støtte – helt på dine præmisser. Du er også muligt at planlægge egen udflugt, hvis dette ønskes gives der besked om dette." />
  <SingleAccordion title="Hvad med mad og særlige kostbehov?" content="Alle måltider er inkluderet, og vi tager hensyn til allergier og særlige ønsker, hvis du giver besked ved tilmelding." />
  <SingleAccordion title="Kan jeg tage min servicehund eller kæledyr med?" content="Servicehunde er altid velkomne og er tilladt indenfor. Almindelige kæledyr er ikke tilladt inde på kursuscenteret, men kan være i “hundehotellet” og få lov at komme indenfor til overnatning – kontakt os gerne for afklaring." />
</div>
