---
// Henter parametrene fra Astro.props
const { color = "blue", size = "medium", blink = "", arrow = "no" } = Astro.props;

//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter
const variantClasses = {
  blue: "bg-blue-700",
  orange: "bg-orange-500",
};

const sizeClasses = {
  large: "text-xl",
  medium: "text-lg",
  small: "text-sm",
};

const arrowClasses = {
  yes: "block",
  no: "hidden",
};
---

<button class="group w-fit h-auto">
  <a class:list={[variantClasses[color], sizeClasses[size], "relative flex overflow-hidden py-2.5 px-5 rounded-md "]} href={blink}>
    <div class="absolute top-0 left-0 w-full h-full">
      <div class:list={[variantClasses[color], "w-full h-full brightness-120 -skew-x-16 translate-x-[-50%] group-hover:translate-x-[50%] transition-all duration-500 ease-in-out"]}></div>
    </div>
    <div class="relative text-white font-display flex flex-row gap-2 items-center">
      <slot />
      <img src="/icons/btnarrow.svg" alt="" width="20" class={arrowClasses[arrow]} />
    </div>
  </a>
</button>
