---
// Henter parametrene fra Astro.props
const { color = "blue", size = "medium", blink = "" } = Astro.props;

//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter
const variantClasses = {
  blue: "bg-blue-700",
  orange: "bg-orange-400",
};

const sizeClasses = {
  large: "text-xl",
  medium: "text-lg",
  small: "text-sm",
};
---

<button class="group w-fit">
  <a class:list={[variantClasses[color], sizeClasses[size], "relative flex overflow-hidden py-3 px-5 bg-blue-700  rounded-md"]} href={blink}>
    <div class="absolute top-0 left-0 w-full h-full">
      <div class="w-full h-full bg-neutral-900 opacity-25 -skew-x-16 translate-x-[-50%] group-hover:translate-x-[50%] transition-all duration-500 ease-in-out"></div>
    </div>
    <div class="relative text-white font-display">
      <slot />
    </div>
  </a>
</button>
