---
import Link from "./Link.astro";
import Heading from "./Heading.astro";
import Button from "./Button.astro";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<header x-data="{ showmenu: false }" class="bg-neutral-50 shadow-md">
  <!-- DESKTOP MENU START  -->
  <div id="navbar" class="container mx-auto p-4 px-8 flex flex-row justify-between items-center">
    <div id="logo" class="">
      <a href="/" class="flex flex-row gap-2">
        <div class="w-12 place-content-center"><img src="/icons/veteranoasen.svg" alt="veteranoasen logo" /></div>
        <div class="leading-1 pt-0.75">
          <Heading htmlheading="h1" size="small" font="display">NORDJYSK</Heading>
          <Heading htmlheading="h2" size="xsmall" font="display">SOMMERLEJR</Heading>
        </div>
      </a>
    </div>
    <nav id="desktopmenu" class="hidden lg:block">
      <ul class="flex flex-row gap-4">
        <li class="">
          <li class="text-center py-2"><Link href="/" underline="no">Forside</Link></li>
          <li class="text-center py-2"><Link href="about" underline="no">Om os</Link></li>
          <li class="text-center py-2"><Link href="apply" underline="no">Ansøg</Link></li>
          <li class="text-center py-2"><Link href="komponentbibliotek" underline="no">Komponentbibliotek</Link></li>
        </li>
        <li><Button color="orange" size="small" blink="/donate">Støt os!</Button></li>
      </ul>
      <!-- DESKTOP MENU SLUT -->

      <!-- MOBILE MENU START  -->
    </nav>
    <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = ! showmenu"
      ><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
      </svg>
    </button>
  </div>
  <nav id="mobilmenu" class="flex flex-col content-center" x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
    <ul class="">
      <li class="text-center py-2"><Link href="/" underline="no">Forside</Link></li>
      <li class="text-center py-2"><Link href="about" underline="no">Om os</Link></li>
      <li class="text-center py-2"><Link href="apply" underline="no">Ansøg</Link></li>
      <li class="text-center py-2"><Link href="komponentbibliotek" underline="no">Komponentbibliotek</Link></li>
    </ul>
  </nav>
</header>
