---
// Henter parametrene fra Astro.props
const { href = "#", target = "_self", underline = "yes" } = Astro.props;

//Definer den styling (Tailwind classes, der gør sig gældende for alle links
const linkStyling = "font-body text-sm lg:text-md hover:font-bold transition-all duration-200";

//Definer den styling (Tailwind classes), der gør sig gældende for de forskelligeog størrelser.
const underlineClass = {
  yes: "underline",
  no: "no-underline",
};
---

<!--Sæt classes for den pågældende knap sammen ved hjælp af Astros class:list -->
<a href={href} target={target} class:list={[linkStyling, underlineClass[underline]]}><slot /></a>
