---
// Henter parametrene fra Astro.props
const { type = "normal", font = "body", stylingclasses = "text-md lg:text-lg" } = Astro.props;

const typeClasses = {
  normal: "font-base",
  bold: "font-bold",
  italic: "font-italic",
};

const fontClasses = {
  body: "font-body",
  display: "font-display",
};
---

<p class:list={[typeClasses[type], fontClasses[font], stylingclasses]}><slot /></p>
